/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/components/Nav/Nav.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav a,
nav p,
.menu-overlay-bar a,
.menu-overlay-bar p,
.showreel a,
.media-link a {
  position: relative;
  color: var(--copy);
  display: block;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logo,
.menu-toggle-open,
.menu-toggle-close,
.showreel,
.media-link {
  position: relative;
  width: max-content;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E2D24;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  pointer-events: none;
  z-index: 2;
}

.menu-overlay-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: 1em;
}

nav a,
.menu-toggle-open p {
  transform: translateY(0px);
}

.menu-overlay-bar a,
.menu-toggle-close p,
.showreel a,
.media-link a {
  transform: translateY(20px);
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link a {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.menu-overlay h1 {
  text-transform: uppercase;
  font-family: "dh";
  font-weight: lighter;
  font-size: 8vw;
  line-height: 0.85;
  color: #F9B4ED;
}

@media (max-width: 900px) {
  .menu-overlay h1 {
    font-size: 20vw;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --bg: #1a1a1a;
  --copy: #bac4b8;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 999;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

@font-face {
  font-family: "am";
  src: url(/fonts/akkuratmono.ttf);
}

@font-face {
  font-family: "db";
  src: url(/fonts/druk-bold.otf);
}

@font-face {
  font-family: "dh";
  src: url(/fonts/druk-heavy.otf);
}

@font-face {
  font-family: "dm";
  src: url(/fonts/druk-medium.otf);
}

@font-face {
  font-family: "ds";
  src: url(/fonts/druk-super.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "am";
  background-color: #000;
  color: var(--copy);
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100svh;
  background-color: var(--bg);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

a,
p {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--copy);
  will-change: transform;
}

h1 {
  position: relative;
  text-transform: uppercase;
  font-family: "dh";
  font-weight: lighter;
  font-size: 7.5vw;
  line-height: 0.85;
  color: var(--copy);
  will-change: transform;
}

h2 {
  position: relative;
  text-transform: uppercase;
  font-family: "dh";
  font-weight: lighter;
  font-size: 4vw;
  line-height: 0.85;
  color: var(--copy);
  will-change: transform;
}

h3 {
  position: relative;
  text-transform: uppercase;
  font-family: "dm";
  font-weight: lighter;
  font-size: 2.25vw;
  line-height: 0.85;
  color: var(--copy);
  will-change: transform;
}

@media (max-width: 900px) {
  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 10vw;
  }

  h3 {
    font-size: 8vw;
  }
}

